@font-face {
    font-family: 'Kholodos';
    src: url("font.ttf");
}

body {
    background-color: #102aad;
}


h1, h2 {
    margin-bottom: 0;
    background-color: #051877;
    color: transparent;
    font-family: 'Kholodos', Tahoma, serif;
    font-size: 100px;
    text-shadow: 0 -5px 1px #a0a7c9;
    -webkit-background-clip: text;
}

h2 {
    margin-top: 0;
    font-size: 50px;
}

.greeting-box {
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #394cad;
    -webkit-box-shadow:inset 0 0 0 10px #051877;
    box-shadow:inset 3px 3px 5px 5px #051877;
}