@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link type="image/png" sizes="16x16" rel="icon" href="~/favicon.png">
    <title>Greeting</title>
</head>
<body>
<div class="greeting-box">
    <h1>@ViewBag.Hello</h1>
    <h2>сегодня</h2>
    <h2>@DateTime.Today.ToString("d MMMM yyyy, dddd")</h2>
</div>
</body>
</html>